body{
    background-color: #1d283a;
}

*{
    box-sizing: border-box;
}

.empty-space-left{
    width: 25%;
    height: 100%;
    float: left;
    /*background-color: white;*/
}

.empty-space-right{
    width: 25%;
    height: 100%;
    float: left;
    /*background-color: white;*/
}

.calc{
    width: 50%;
    float: left;
    /*background-color: black;*/
    padding: 6em 0em 4em 0em;
    margin: -1em 0em 0em 0em;
}

.answer{
    color: #e2ebf1;
    border-style: solid;
    border-width: 0.1em;
    border-color: black;
    padding: 1em 0em;
}

.row{
    color: #e2ebf1;
    font-size: 1em;
}

.col{
    margin: calc(100%/27) calc(100%/27) 0em 0em;
}

.col-4{
    margin: calc(100%/27) 0em 0em 0em;
}

.ele{
    text-align: center;
    /*border-style: solid;
    border-width: 0.1em;
    border-color: black;*/
    padding: 1em 0em;
}

.ele-i{
    width:calc(600%/27);
    float: left;
}

.ele-4-1{
    width: calc(2000%/27);
    float: left;
    margin: calc(100%/27) calc(100%/27) 0em 0em;
}

.ele-4-2{
    width: calc(600%/27);
    float: left;
    margin: calc(100%/27) 0em 0em 0em;
}

.button{
    font-size: 1.5em;
    color: #e2ebf1;
    background-color: #344356;
    border-style: none;
}