body{
    background-color: #1d283a;
}

*{
    box-sizing: border-box;
}

.empty-space-left{
    width: 25%;
    height: 100%;
    float: left;
    /*background-color: white;*/
}

.empty-space-right{
    width: 25%;
    height: 100%;
    float: left;
    /*background-color: white;*/
}

.calc{
    width: 50%;
    float: left;
    /*background-color: black;*/
    padding: 6em 0em 4em 0em;
    margin: -1em 0em 0em 0em;
}

.answer{
    color: white;
    border-style: solid;
    border-width: 0.1em;
    border-color: black;
    padding: 1em 0em;
}

.row{
    color: white;
    font-size: 1em;
}

.ele{
    text-align: center;
    border-style: solid;
    border-width: 0.1em;
    border-color: black;
    padding: 1em 0em;
}

.ele-i{
    width: 25%;
    float: left;
}

.ele-4-1{
    width: 75%;
    float: left;
}

.ele-4-2{
    width: 25%;
    float: left;
}


